body{
    background-color: #e7f2fd;
    height: 100vh;
}
.links{
    background-color: #fff;
    padding: 10px 16px;
    border: 0;
    max-width: 100px;
}
.active{
   background-color: rgb(22, 64, 250);
   color: #fff ;
}
.img-fluid{
    border: 4px solid #fff;
    height: 250px;    
}
.item-card{
    background-color: #fff;
    bottom: 0;
}
.cover{
    position:fixed;
    background-color:rgba(0, 0, 0, 0.6);
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
#light-boxItem{
    background-image:url(../imags/1.jfif);
    background-size: 100% 100%;
    margin: auto;
    width: 50%;
    height: 500px;
    display:flex;
    align-items: center;  
    justify-content: space-between;
    position: relative;
}
#close{
    position: absolute;
    top: 10px;
    right: 15px;
}
img , i{
    cursor: pointer;
}
@media screen and (max-width:567px) {
#light-boxItem{
    width:95%;
    height: 350px;
}
}


